*.class

# Package Files #
*.jar
*.war
*.ear
WoWTCGApp/build/
WoWTCGCrawler/build/
/WoWTCGApp/nbproject/private/
/WoWTCGCrawler/nbproject/private/
/OnlineGameClient/nbproject/private/
/OnlineGameClient/build/
/WoWTCGApp/dist/